spring:
  application:
    name: USER-SERVICE
  config:
    import: optional:configserver:http://localhost:8889

  datasource:
    url: jdbc:mariadb://localhost:3306/userdb
    username: root
    password: amthroot
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true



  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: ${MAILTRAP_USERNAME:7c2bd8e56e2d69}
    password: ${MAILTRAP_PASSWORD:7ec0a6c00b19be}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

jwt:
  secret: s3cR3tK3y!#2025@JWT_Sign4tur3!!VeryLongSecretKeyForHS512Algorithm2025!!
  expiration: 3600000  # 1 heure en millisecondes
  refresh-expiration: 604800000  # 7 jours en millisecondes
  issuer: user-service

logging:
  level:
    root: INFO
    ma.emsi.userservice: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      default-zone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true



